html, body{
    height:100%;
    margin:0;
    padding: 0;
}
:root {
    --main-bg-color: #FFFFFF;
    --border-top-color: #EF8354;
    --footer-bg-color: #2D3142;
    --header-bg-color: #2D3142;
    --button-bg-color: #2D3142;
    --button-hover-color: #EF8354;
    --text-color: #2D3142;
    --white-text-color: #FFFFFF;
    --sideNav-bg-color: #607d8b;

}
body{
    font-family: 'Mouse Memoirs', sans-serif;
    font-family: 'Indie Flower', cursive;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
}

header{
    border-top: 5px solid var(--border-top-color) ;
    padding: 10px 10px;
    width: 100%;
    background-color: var(--header-bg-color);
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer {
    border-top: 5px solid var(--border-top-color);
    margin-top: auto;
    background-color: var(--footer-bg-color);
    padding: 5px;
    width: 100%;
}

h1{
    color: var(--text-color);
    font-size: 50px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    text-shadow: 1px 1px 1px #EF8354;
    margin-bottom: 10px;
    cursor: default;
}

p{
    color: var(--text-color);
    font-size: 14px;
    font-style: italic;
    text-align: center;
    cursor: default;
}
.footerP{
    color: whitesmoke;

}
button{
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #FFFFFF;
	background: var(--button-bg-color);
	margin-bottom: 50px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
}

button:hover{
    cursor: pointer;
    background: var(--button-hover-color);
    color: #FFFFFF;
    box-shadow: 0 3px 20px 0 #2D3142;
}

input{
    text-align: center;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 3px 20px 0 #2D3142;

    /* Følgende sikrer centrering*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}
::placeholder{
    text-align: center;
    color: #2D3142;
}

#bookPhoto{
    height: auto;
    max-width: 400px;
    width: 100%;
    padding: 10px;
}

#pageName{
    padding: 15px;
}
#logoSlideImg{
    margin-top: 10px;
    margin-left: 40%;
}

.sidenavColors{
    background: var(--sideNav-bg-color);
}

.collapsible-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    padding: 1rem;
    background-color: #607d8b;
    border-bottom: 2px solid #EF8354;
    color: var(--white-text-color);
}
.collapsible-body{
    padding: 40px;
    border-bottom: 2px solid #EF8354;
}

.helpIcons{
    color: #2D3142;
}

/* https://www.w3schools.com/css/css_image_gallery.asp */
div.gallery {
    margin: 5px;
    border: 1px solid #2D3142;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #607d8b;
    box-shadow: 0 3px 20px 0 #607d8b;

}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.sectionOnView{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}


.container {
    position: relative;
    width: 50%;
    max-width: 300px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
}

@media only screen and (max-width: 400px) {
    .sectionOnView {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media only screen and (max-width: 700px) {
    .sectionOnView {
    }
}