html, body{
    height:100%; 
    margin:0; 
    padding: 0;
}
body{
    font-family: 'Mouse Memoirs', sans-serif;
    font-family: 'Indie Flower', cursive;
    background-color: #A6EBC9;
    display: flex;
    flex-direction: column;
}

header{
    border-top: 5px solid #B79FAD;
    padding: 10px 10px;
    width: 100%;
    background-color: #85C0A1;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer {
    border-top: 5px solid #B79FAD;
    margin-top: auto;
    background-color: #333;
    padding: 5px;
    width: 101.5%;
}

h1{
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    text-shadow: 2px 2px 2px #333;

}
p{
    color: white;
    font-size: 14px;   
    font-style: italic;
    text-align: center;

}
button{
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
    box-shadow: 0 3px 20px 0 #0000003b;
    text-align: center;
    font-size: 16px;
    display: inline-block;
}

button:hover{
    cursor: pointer;
    background: #5cb7e4;
    color: #fff;
}

input{
    text-align: center;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    /* Følgende sikrer centrering*/
    display: block;
    margin-left: auto;
    margin-right: auto 
}
::placeholder{
    text-align: center;
    color: #333;

}

#bookPhoto{
    height: auto;
    max-width: 400px;
    width: 100%;
}